{{!-- <div class="engine-container">
  {{#affinity-engine engineId="engine1" config=config fixtures=fixtures isFocused=true as |engine|}}
    {{#if engine.isLoaded}}
      {{affinity-engine/director engineId=engine.engineId initialScene="demo"}}
      {{#affinity-engine/menu-bar engineId=engine.engineId as |menuBar|}}
        {{affinity-engine/menu-bar/rewind engineId=menuBar.engineId}}
        {{affinity-engine/menu-bar/save engineId=menuBar.engineId}}
        {{affinity-engine/menu-bar/load engineId=menuBar.engineId}}
        {{affinity-engine/menu-bar/reset engineId=menuBar.engineId}}
        {{affinity-engine/menu-bar/resize engineId=menuBar.engineId}}
      {{/affinity-engine/menu-bar}}
    {{else}}
      {{affinity-engine/curtain engineId=engine.engineId filesToPreload="backdrops:src" completePreload=engine.completePreload}}
    {{/if}}
  {{/affinity-engine}}
</div> --}}
<div class="engine-container">
  {{#affinity-engine engineId="engine2" isFocused=true as |engine|}}
  {{/affinity-engine}}
</div>
