{{!-- <div class="theater-container">
  {{#affinity-engine theaterId="theater1" config=config fixtures=fixtures isFocused=true as |theater|}}
    {{#if theater.isLoaded}}
      {{affinity-engine/director theaterId=theater.theaterId initialScene="demo"}}
      {{#affinity-engine/menu-bar theaterId=theater.theaterId as |menuBar|}}
        {{affinity-engine/menu-bar/rewind theaterId=menuBar.theaterId}}
        {{affinity-engine/menu-bar/save theaterId=menuBar.theaterId}}
        {{affinity-engine/menu-bar/load theaterId=menuBar.theaterId}}
        {{affinity-engine/menu-bar/reset theaterId=menuBar.theaterId}}
        {{affinity-engine/menu-bar/resize theaterId=menuBar.theaterId}}
      {{/affinity-engine/menu-bar}}
    {{else}}
      {{affinity-engine/curtain theaterId=theater.theaterId filesToPreload="backdrops:src" completePreload=theater.completePreload}}
    {{/if}}
  {{/affinity-engine}}
</div> --}}
<div class="theater-container">
  {{#affinity-engine theaterId="theater2" isFocused=true as |theater|}}
  {{/affinity-engine}}
</div>
